*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div-1{
    display: flex;
    padding: 100px 200px;
}

.div-1 h2{
    font-size:15px ;
    margin:0 7px;
    color: rgba(0, 0, 0, 0.829);
}

.div-1 a{
    color: darkgrey;
    text-decoration: none;
}

.div-2{
    text-align: center;
    padding: 100px;
}

.div-2 h1{
    font-size: 90px;
}

.div-2 p{
    margin: 25px;
}

section button{
    background-color: var(--secondary2-color);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 16px 48px;
}