* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section .container {
    padding: 100px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
}
section .container .parts p{
    color: black;
}
.all-contant-product{
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    gap: 3rem;
}
.parts {
    display: flex;
    gap: 30px;
}

.part1 {
    background-color: rgba(245, 245, 245, 1);
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    width: 170px;
    height: 145px;
    margin-bottom: 15px;
}

.part2 {
    background-color: rgba(245, 245, 245, 1);
    align-items: center;
    padding: 25px;
    padding-top: 160px;
    border-radius: 5px;
    width: 500px;
    height: 627px;
}

section .all-contant-product .parts-cotant .stras-icon i{
    color: #FFAD33;
}
.size{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.size p{
    border: 1px solid black;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 4px;
}
.size p:hover{
    background-color: var(--secondary2-color);
    color: var(--primary-color);
    border: none;
    transition: 2s;
}
.number-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 20px;
}
.number-product .number{
    display: inline-flex;
    align-items: center;
}
.number-product .number{
    border: 1px solid black;
    border-radius: 4px;
}
.number-product .number button{
    padding: 10px 12px;
}
.number-product button{
    padding: 10px 48px;
    background-color: var(--secondary2-color);
}
.parent-div-car{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.child-car{
    padding: 20px 10px;
    display: inline-flex;
    gap: 1rem;
}

.Sales .container-sales{
    margin: 1.8rem 3rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.4rem;
}